export BASE_DATA_URI=https://starrydata.github.io/cleansing-dataset/v1
export HIGHLIGHT_DATA_URI=https://www.starrydata2.org/paperlist/xy_data_api
export MATERIAL_TYPE=battery
export PYTHONPATH=src/
source .venv/bin/activate
