export STARRYDATA_BULK_DATA_API=https://starrydata.github.io/bulk-data-api/v1/
export STARRYDATA2_API_XY_DATA=https://www.starrydata2.org/paperlist/xy_data_api
export MATERIAL_TYPE=battery
export PYTHONPATH=src/
source .venv/bin/activate
